[submodule "arma3server-config"]
	path = arma3server-config
	url = https://github.com/German-Tactical-Ops/arma3server-config.git
	branch = master
[submodule "arma3server-html"]
	path = arma3server-html
	url = https://github.com/German-Tactical-Ops/arma3server-html.git
	branch = master
